ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  li {
    padding: 0;
    margin: 0;
  }
  
  nav {
    width: 100%;
    height: auto;
    box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
  }
  
  .logo {
    text-align: left;
    float: left;
    padding: 6px;
  }
  
  .visible {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }
  
  nav .lista {
    text-align: center;
  }
  
  nav .lista li {
    display: inline-block;
  }
  
  nav .lista li a {
    color: #00649F;
    display: inline-block;
    padding: 2px 20px;
    text-decoration: none;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    color: #00DBE7;
    border-bottom: 1px;
    border-bottom-style: inset;
    border-color: inherit;
  }