<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="El colegio del futuro">
    <meta name="author" content="Jesus Bossa">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
    <title>Utopia | El colegio del futuro</title>
</head>
<header>
    <nav class="visible">
        <div class="">
          <a href="#barra-navegacion" class="navbar-brand logo">
            <img  src="img/logo.svg" alt="Logo" width="50" height="50">
          </a>
        </div>
        <ul class="lista nav justify-content-end titulog">
          <li class="nav-item">
            <a href="#sobre-mi">Acerca de</a>
          </li>
          <li class="nav-item">
            <a href="#experiencia">Habilidades</a>
          </li>
          <li class="nav-item">
            <a href="#contacto">Contacto</a>
          </li>
        </ul>
        <div class="button">
          <i class="fas fa-bars btn-open" href="#"></i>
        </div>
      </nav>
</header>