doctype html
html(lang='es')
  head
    // manifest
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='El colegio del futuro')
    meta(name='author', content='Jesus Bossa')
    link(rel='manifest', href='/site.webmanifest')
    meta(name='application-name', content='Utopia')
    meta(name='theme-color', content='#ffffff')
    // meta general support
    link(rel='icon', type='image/webp', sizes='32x32', href='/favicon-32x32.webp?v=zXrmQ6WgW3')
    link(rel='icon', type='image/webp', sizes='16x16', href='/favicon-16x16.webp?v=zXrmQ6WgW3')
    link(rel='shortcut icon', href='/favicon.ico?v=zXrmQ6WgW3')
    // meta safari support
    link(rel='mask-icon', href='/safari-pinned-tab.svg?v=zXrmQ6WgW3', color='#5bbad5')
    // meta apple support
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.webp?v=zXrmQ6WgW3')
    meta(name='apple-mobile-web-app-title', content='Utopia')
    // meta tags windows
    meta(name='msapplication-TileColor', content='#00aba9')
    meta(name='msapplication-TileImage', content='/mstile-144x144.webp?v=zXrmQ6WgW3')
    meta(name='msapplication-config', content='/browserconfig.xml')
    // multi device tags
    meta(property='og:tile', content='Utopia')
    meta(property='og:locale', content='es')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='/apple-touch-icon.webp')
    meta(property='og:url', content='https://makinox.github.io/PortafolioPersonal/')
    link(rel='stylesheet', href='app.css')
  body
    script(type='application/javascript', src='index.js')
    section#header-container
      header
        nav.visible.fixed-top
          div
            a.navbar-brand.logo(href='/')
              img(src='./favicon.ico', alt='Logo', width='45', height='45')
          div
            a.navbar-brand.logo.info(href='http://utopia1.herokuapp.com/')
              img(src='./info.svg', alt='Logo', width='30', height='30')
          div
            h4.logon.name
          .button
            a.btn
              img(src='./open.svg', alt='Logo', width='30', height='30')
        .overlay
          .wrap.container
            ul.wrap-nav.row
              li.col-12.menuGen
                a.titulog Ingresa
                ul
                  li
                    a.signinl(href='/signin') Inicia sesión
                  li
                    a.signoutl(href='/signout') Regístrate
              li.col-12#wUser.eUser.pUser.aUser
                a.titulog Descubre
                ul
                  //li
                  //   a.homel.mainer(href='/home') Inicio
                  li
                    a(href='/profile') Perfil
              li.col-12#wUser.pUser.aUser.eUser
                a.titulog Administracion
                ul
                  li
                    a.adminl(href='/admin') administrador
    .relleno
    section#main-container
      .sk-cube-grid
        .sk-cube.sk-cube1
        .sk-cube.sk-cube2
        .sk-cube.sk-cube3
        .sk-cube.sk-cube4
        .sk-cube.sk-cube5
        .sk-cube.sk-cube6
        .sk-cube.sk-cube7
        .sk-cube.sk-cube8
        .sk-cube.sk-cube9
    .relleno
  script(type='application/javascript', src='app.js')
