doctype html
html(lang='es')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  meta(name='description', content='El colegio del futuro')
  meta(name='author', content='Jesus Bossa')
  link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
  link(rel='manifest', href='/site.webmanifest')
  link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
  link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
  meta(name='apple-mobile-web-app-title', content='Utopia')
  meta(name='application-name', content='Utopia')
  meta(name='msapplication-TileColor', content='#2d89ef')
  meta(name='msapplication-TileImage', content='/mstile-144x144.png')
  meta(name='theme-color', content='#ffffff')
  link(rel='stylesheet', href='app.css')
  title=title
header
  nav.visible.fixed-top
    div
      a.navbar-brand.logo(href='/')
        img(src=' favicon.ico', alt='Logo', width='50', height='50')
    .button
      a.btn
        img(src='open.svg', alt='Logo', width='50', height='50')
  .overlay
    .wrap.container
      ul.wrap-nav.row
        li.col-12
          a() Ingresa
          ul
            li
              a.signinl(href='/signin') Inicia sesión
            li
              a.signoutl(href='/signout') Regístrate
        li.col-12
          a() Descubre  
          ul
            li
              a.homel(href='/home') Inicio 
            li
              a(href='/profile') Perfil
            //- li
            //-   a(href='#skills') Conocimientos
        li.col-12
          a() Administracion
          ul
            li
              a.adminl(href='/admin') administrador
body
    div.relleno
    section#main-container
      .sk-cube-grid
        .sk-cube.sk-cube1
        .sk-cube.sk-cube2
        .sk-cube.sk-cube3
        .sk-cube.sk-cube4
        .sk-cube.sk-cube5
        .sk-cube.sk-cube6
        .sk-cube.sk-cube7
        .sk-cube.sk-cube8
        .sk-cube.sk-cube9
    div.relleno
    footer#footer
      .container
        .row.d-flex
          .col.d-inline-flex.justify-content-start
            h3
              a.btn(href='https://makinox.github.io/PortafolioPersonal/') Powered by: Jesus bossa
          .col.d-inline-flex.justify-content-end.mt-2
            h6.text-muted ©MIT Utopia1
script(type='application/javascript' src='app.js')