$mBlue: #457B9D;
$lBlue: #A8DADC;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.titulog {
  font-family: 'Fira Sans', sans-serif;
}

.gauss {
  filter: blur(3px);
  -ms-filter: blur(3px);
  -webkit-filter: blur(3px);
}

.relleno {
  padding-top: 120px;
  padding-bottom: 120px;
}
body {
  position: relative;
}
.mainer {
  display: none;
}
.btn-primary {
  background-color: $mBlue;
}
.btn-info {
  background-color: $lBlue;
}
.wUser {
  display: none;
}