$mBlue: #1D3557;

.gauss {
  filter: blur(3px);
  -ms-filter: blur(3px);
  -webkit-filter: blur(3px);
}

.relleno {
  padding-top: 120px;
  padding-bottom: 120px;
}
body {
  position: relative;
}
.mainer {
  display: none;
}
.btn-primary {
  background-color: $mBlue;
}